@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #E02C6D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------Shared Style--------*/
main {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

.section-title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}

.section-description {
    margin-block: 16px;
    font-family: Poppins;
    font-size: 1rem;
}

.primary-btn {
    background-color: var(--primary-color);
    padding-inline: 24px;
    padding-block: 10px;
    outline: 0;
    border: 0;
}

.primary-btn a {
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.fa-arrow-right {
    margin-left: 3px;
}

/*--------Logo, Nav, Banner Style Start-------- */
header {
    margin: 87px 120px 0 120px;
}

.logo {
    width: 243px;
}

.important {
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .ul-container {
    display: flex;
    gap: 32px;
}

nav .ul-container li {
    list-style-type: none;
}

nav .ul-container li a {
    text-decoration: none;
    font-size: 1rem;
    font-family: Poppins;
    color: #3A3A3A;
    font-weight: 600;
}

/*-----------Banner Design Start--------- */
.banner-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 70px 0;
    align-items: center;
    gap: 130px;
}

.banner-container .banner-content .banner-title {
    max-width: 582px;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 3.25rem;
    font-weight: 700;
}

.banner-container .banner-content .banner-description {
    color: #6C6C6C;
}

.banner-btn {
    border-radius: 41px;
}

.banner-img {
    position: relative;
}

.circle {
    position: relative;
    width: 100%;
    min-width: 300px;
}

.main-img {
    position: absolute;
    width: 90%;
    top: 45px;
    left: 5px;
}



/* ---------features-products Section Design Start---------- */
.featured-container {
    display: flex;
    justify-content: space-between;
    gap: 96px;
    margin-block: 100px;
}

.featured-container .features-content h3 {
    color: #0A0826;
    font-family: Poppins;
    font-size: 2.37rem;
    font-weight: 700;
}

.featured-container .features-content p {
    color: #6C6C6C;
}

/*--------Group-Item Section design Start--------*/

.group-item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 62px;
    margin-bottom: 100px;
    /* justify-content: space-between; */
    justify-content: center;
}

.group-item-container img {
    cursor: pointer;
}

/*  */
.gallery-section>h3 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.75rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
}

.gallery-section .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
}
.card-container img{
    width: 100%;
}

.gallery-section .card-container .card-item {
    padding: 20px 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    /* height: 476px; */
}

/*--------Footer Section Style Start--------*/
footer {
    background-color: #0A0826;
    padding-block: 50px;
    text-align: center;
    color: #FFF;
}

footer .description {
    font-family: Manrope;
    margin: 3px 0;
    color: #D9DBE1;
}

footer .social-icons {
    margin-top: 17px;
}

footer .social-icons .fa-brands {
    color: #fff;
    width: 32px;
    height: 32px;
}

/* ========================================= */
/*--------Mobile Device Responsive Design--------*/

@media screen and (max-width:576px) {
    header {
        margin-inline: 10px;
    }

    .logo {
        margin-inline: auto;
    }

    .featured-container {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    nav .ul-container {
        display: none;
    }

    .featured-container img {
        width: 100%;
    }
    .card-container{
        grid-template-columns: 1fr;
    }
}

/*--------Tablet Device Responsive Design--------*/
@media screen and (min-width:576px) and (max-width:992px) {

    .featured-container,
    .banner-container {
        flex-direction: column;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
